<mat-card>
  <mat-card-header>
    <div class="header-left">
      <mat-card-title>
        {{ job.title }}
        <mat-icon
          *ngIf="job.status === 'draft'"
          (click)="changeAdStatus('published')"
          class="action-icon"
          matTooltip="Publish"
          matTooltipPosition="above"
        >
          publish
        </mat-icon>
        <mat-icon
          *ngIf="job.status === 'draft' || job.status === 'published'"
          (click)="changeAdStatus('archived')"
          class="action-icon"
          matTooltip="Archive"
          matTooltipPosition="above"
        >
          archive
        </mat-icon>
      </mat-card-title>
      <mat-card-subtitle class="status-{{ job.status }}">{{
        job.status
      }}</mat-card-subtitle>
      <p>{{ job.description }}</p>
      <mat-chip-set>
        <mat-chip *ngFor="let skill of job.skills" class="chip">{{
          skill
        }}</mat-chip>
      </mat-chip-set>
    </div>
    <div class="header-right">
      <div class="buttons">
        <button mat-icon-button color="primary" (click)="editJobAd(job.id)">
          <mat-icon>edit</mat-icon>
          <span>Edit</span>
        </button>
        <button mat-icon-button color="warn" (click)="deleteJobAd(job.id)">
          <mat-icon>delete</mat-icon>
          <span>Delete</span>
        </button>
      </div>
    </div>
  </mat-card-header>
</mat-card>
